* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-body {
  top: 55px;
  left: 0;
  position: absolute;
  display: flex;
}

.main-container {
  box-sizing: border-box;
  display: block;
  width: 1000px;
  height: auto;
  border: 2px solid white;
  background-color: white;
  box-shadow: 0 5px 20px gray;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 80px;
  margin-right: auto;
  font-size: large;
  border-radius: 5px;
}

#main-background {
  width: 100%;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.main-tab {
  background-color: rgb(24, 98, 121);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.box2 {
  display: flex;
}
.tab-item {
  width: 180px;
  height: 55px;
  color: white;
  background-color: rgb(24, 98, 121);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog {
  display: block;
}
.tab-item:hover {
  background-color: rgb(92, 143, 158);
  transition: all 0.3s 0s ease;
}
.img-1 {
  width: 180px;
  height: 55px;
  display: flex;
}
.main-searchbar {
  height: 30px;
  margin-left: 750px;
  margin-top: 10px;
}
a {
  color: rgb(24, 24, 24);
}
.nd-container {
  width: 375px;
  margin-left: 25px;
}
#discord-ads {
  width: 325px;
  text-align: center;
  border: 4px solid teal;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
#discord-ads-1 {
  height: 50px;
  background-color: rgb(120, 147, 230);
  border-bottom: 4px solid teal;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#discord-ads-2 {
  height: 200px;
  background-color: skyblue;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 50px;
}
.discord-box {
  height: auto;
  width: auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;

}
.discord-img img {
  height: 100px;
  width: 100px;
  transition: all ease-in 0.1s;
  margin-bottom: 0px;
}
.discord-img:hover img {
  height: 110px;
  width: 110px;
  transition: all ease-out 0.3s;
}
