* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-body {
  top: 55px;
  left: 0;
  position: absolute;
}

.main-container {
  box-sizing: border-box;
  display: block;
  width: 1400px;
  height: auto;
  border: 2px solid white;
  background-color: white;
  box-shadow: 0 5px 20px gray;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 75px;
  margin-right: 75px;
  font-size: large;
}

#main-background {
  width: 100%;
}
.main-tab {
  background-color: rgb(24, 98, 121);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.box2 {
  display: flex;
}
.tab-item {
  width: 180px;
  height: 55px;
  color: white;
  background-color: rgb(24, 98, 121);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog {
  display: block;
}
.tab-item:hover {
  background-color:rgb(92, 143, 158);
  transition: all 0.3s 0s ease;
}
.img-1 {
    width: 180px;
    height: 55px;
display: flex;
}
